body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: "roboto", sans-serif
}

#hero {
    position: relative;
    background-image: url(/images/hero-cover.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;

}

.down_arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: rgba(108, 147, 62, 1)
}


.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(108, 147, 62, 1);
    padding: 20px;
}

.info {
    background-color: white;
    margin: 12px;
}

.title_2 {
    color: rgba(108, 147, 62, 1);
    font-size: 14px;
}

.title_3 {
    font-size: 22px;
}

.main_text {
    font-size: 18px;
    text-align: justify;

}

.buy_bottom {
    background-color: white;
    border-radius: 22.5px;
    color: rgba(108, 147, 62, 1);
    border-color: rgba(108, 147, 62, 1);
    padding: 10px 40px;
    font-size: 20px;

}

#backtoschool {
    background-color: rgba(217, 228, 204, 1);
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, 2fr);
    gap: 20px;
    padding: 40px;
    position: relative;

}

.ready {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
}

.title_4 {
    text-align: center;
    margin: 5px
}

.product_list {

    text-align: center;
    list-style: none;

}

.product {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    font-weight: bold;
}

.start_button {
    background-color: rgba(108, 147, 62, 1);
    color: white;
    border: none;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

.arrow_up {
    position: absolute;
    left: 50%;
    bottom: -4.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: rgba(108, 147, 62, 1)
}


.footer {
    background-color: rgba(74, 74, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: white;
}

.list_footer {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
}